div.dt-container select.dt-input{
    padding: 2px 20px;
    background-position: right;
}


table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 9999px rgb(175, 175, 175) !important;
}

.collapse.show {
    visibility: visible;
  }