div.dt-container select.dt-input{
    padding: 2px 20px;
    background-position: right;
}


table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 9999px rgb(175, 175, 175) !important;
}

.collapse.show {
    visibility: visible;
  }

.placeholder-visible::placeholder {
    color: white; /* Ajuste a cor do placeholder conforme necessário */
}
.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black; /* Ajuste a cor conforme necessário */
    pointer-events: none; /* Permite clicar no input em vez do ícone */
}