div.dt-container select.dt-input{
    padding: 2px 20px;
    background-position: right;
}

.collapse.show {
    visibility: visible;
  }

.placeholder-visible::placeholder {
    color: white; /* Ajuste a cor do placeholder conforme necessário */
}
.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black; /* Ajuste a cor conforme necessário */
    pointer-events: none; /* Permite clicar no input em vez do ícone */
}


.btn-orange {
    background-color: #ca500d;
    color: white;
}

.btn-orange:hover {
    background-color: #f2714b;
    color: white;
}

.btn-orange:disabled {
    background-color: #ca500d;
    color: #353535;
    cursor: not-allowed;
    opacity: 0.6;
}

.table-orange {
    --bs-table-color: #fff;
    --bs-table-bg: #ca500d;
}

.table-hover>tbody>tr:hover>* {
    cursor: pointer;
    /* --bs-table-hover-color: #000000;
    --bs-table-hover-bg: #f1d8d0; */
}

table.dataTable tbody tr.selected>* {
    color: black;
    box-shadow: inset 0 0 0 9999px #eec5b8 !important;
}

.div-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.table-scroll {
    margin-bottom: 0rem;
    border-collapse: collapse;
}

.table-scroll thead {
    position: sticky;
    top: 0;
}

.table-scroll tfoot {
    position: sticky;
    bottom: 0;
}